body {
    background-color: #000;
    font-family: 'Courier New', monospace;
  }
  
  .popup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .message {
    background-color: #999;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .text {
    font-size: 24px;
    color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #0F0;
    animation: typing 5s steps(40, end) forwards;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  