<div class="container">
    <button onclick="window.location.href='/pais/c'">Nuevo país</button>
    <h1>Lista de países</h1>
    <table class="table table-striped">
        <thead>
            <th>Nombre</th>
            <th>Editar</th>
        </thead>

        <tr th:each="pais : ${paises}">
            <td th:text="${pais.nombre}" />
            <td>
                <button th:onclick="|window.location.href='/pais/u?id=${pais.id}'|">
                    <img src="/img/lapiz.png" height="20" width="20">
                </button>
            </td>
        </tr>
    </table>
</div>