<div class="container">
  
    <h1>Nueva Carga</h1>

    <form action="/carga/c" method="post">
        <label for="fechaEntrada">Fecha de entrada: </label> <input type="date" id="fechaEntrada" name="fechaEntrada">
        <br/>
        <label for="fechaSalida">Fecha de Salida: </label><input type="date" id="fechaSalida" name="fechaSalida">
        <br/>
        <label for="camioneroAsignado">Camionero Asignado: </label>
        <select id="camioneroAsignado" name="camioneroAsignado">
        </select>
        <br/>
        <label for="camionAsignado">Camionero Asignado: </label>
        <select id="camionAsignado" name="camionAsignado">
        </select>
        <br/>
        <input type="submit"/>
    </form>
    <button onclick="window.location.href='/'">Cancelar</button>
</div>