<div class="container">
  
    <h1>Nuevo empleado</h1>

    <form action="/empleado/c" method="post">

        <label for="id-dni">DNI</label>
        <input id="id-dni" type="text" name="dni" autofocus="autofocus"/>
        <br/>

        <label for="id-nombre">Nombre</label>
        <input id="id-nombre" type="text" name="nombre" />
        <br/>

        <label for="id-apellido">Apellido</label>
        <input id="id-apellido" type="text" name="apellido" />
        <br/>

        <input type="submit"/>
    </form>
    <button onclick="window.location.href='/'">Cancelar</button>
</div>