<div class="container">
    <button onclick="window.location.href='/aficion/c'">Nueva afición</button>
    <h1>Lista de aficiones</h1>
    <table class="table table-striped">
        <thead>
            <th>Nombre</th>
            <th>Editar</th>
        </thead>

        <tr th:each="aficion : ${aficiones}">
            <td th:text="${aficion.nombre}" />
            <td>
                <button th:onclick="|window.location.href='/aficion/u?id=${aficion.id}'|">
                    <img src="/img/lapiz.png" height="20" width="20">
                </button>
            </td>
        </tr>
    </table>
</div>